# Ignore node_modules directory
node_modules

# Ignore npm debug log
npm-debug.log

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore local environment configuration files
.env
.env.local

# Ignore git files
.git
.gitignore

# Ignore logs
logs
*.log

# Ignore build artifacts
dist
build